#bookOnline {
    margin: 20px;
    background-image: url(../../assets/leavesPattern.webp);
}

#bookOnline .mainContainer {
    margin-top: 80px;
    height: auto;
    width: auto;
    /* background-color: black; */
    /* border: 2px solid #808080; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 10px; */
}

#bookOnline .mainContainer aside {
    /* padding: 10px; */
    /* border: 2px solid #808080; */
    /* width: 300px; */
    background-color: #f2eeee;
    border-radius: 5px;
}

#bookOnline .mainContainer main {
    padding: 50px 10px 50px;
    /* border: 2px solid #808080; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

#bookOnline .mainContainer main .bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

#bookOnline .mainContainer main .bar h4{
    font-weight: 300;
    font-size: 15px;
    align-items: start;
}

#bookOnline .mainContainer main .bar select {
    background-color: #e7e7e7;
    color: #60636b;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
    align-items: end;
}

/* media query */
@media screen and (max-width: 600px) {
    #bookOnline {
        margin: 0px;
    }
    

    #bookOnline .mainContainer {
        width: 100%;
        /* justify-content: center; */
        margin: 50px 0 0 0;
    }

    
#bookOnline .mainContainer main {
    padding: 0;
    /* border: 2px solid #808080; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

}