.mainContainer {
    /* border: 1px solid black; */
    padding: 10px 10px 80px;
    margin: 80px 0px 0;
    width: 100%;
    background-image: url(../../../assets/leavesPattern.webp);

}

.mainContainer .top_section .heading h3 {
    font-size: 22px;
    width: 100%;
}

.mainContainer .top_section .display_text {
    width: auto;
    height: 40px;
    background-color: #deb666;
    color: white;
    margin: 20px;
    padding: 10px 400px;
    align-items: center;
}


.mainContainer .top_section .proceed {
    width: auto;
    height: 60px;
    background-color: #deb666;
    color: white;
    /* margin-top: 20px; */
    /* margin-bottom: 40px; */
    margin-left: 340px;
    padding: 10px 40px;
    align-items: center;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.mainContainer .top_section .display_details {
    font-size: 14px;
    font-weight: 200;
    /* margin: 40px; */
}

.mainContainer .top_section .display_details h1 {
    font-size: 18px;
    align-items: center;
    margin: 0 370px;
}

.mainContainer .top_section .display_details table {
    width: 60%;
    margin: 20px auto;
    text-align: left;
    border-spacing: 10px;
    border: 1px solid #d1cfcf;
    border-radius: 10px;
    padding: 20px 40px;
    /* background-color: #fdffe9; */
}

.bookingTable {
    background-color: white;

}


.mainContainer .top_section .display_details table tr td {
    font-size: 18px;
    font-weight: 500;
    padding: 2px;
    color: #515151;
}

.mainContainer .top_section .display_details table tr td:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    padding: 2px;
    color: #515151;
}


.mainContainer .top_section .heading h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    width: 60%;
    height: auto;
    margin: 0px auto 0px;
    padding: 10px;
    color: #515151;
    /* color: #fdffe9; */
    border: 1px solid rgb(160, 219, 73);
    border-radius: 10px;
    background-color: rgb(152, 243, 152);
    align-items: center;
}


.mainContainer .top_section .display_details h3 span {
    font-weight: 400;
    letter-spacing: 1px;
}

.mainContainer .top_section .total {
    padding: 20px;
    align-items: center;
} 